@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

.ibm-plex-sans-arabic-thin {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-sans-arabic-extralight {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-arabic-light {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-arabic-regular {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-arabic-medium {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-arabic-semibold {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-arabic-bold {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --main-color: #ffdb15;
  --secondary-color: #005959;
}

* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--main-color);
}

body {
    
    /* display: grid;
    justify-items: center; */
    margin: 0;
    min-height: 100vh;
}

main {
    width: 100%;
    margin-top: 50px;
    display: grid;
    /* justify-content: center; */
    text-align: center;
}

.logo {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.logo img {
    max-width: 600px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title {
  font-size: 2rem;
  color: var(--secondary-color);
  margin: 20px 0 ;
  /* text-align: center; */
}

.telegram-link {
  /* display: flex;
  justify-content: space-evenly; */
  margin-bottom: 20px;
}

.telegram-link a {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--secondary-color);
  padding: 0 10px;
}

.telegram-link i {
  font-size: 1.4rem;
  color: var(--secondary-color);
}

.btns {
   text-align: center;
}

.btns button {
  text-align: center;
  color: #fff;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5%;
  padding: 9px 40px;
  margin: 0 10px;
}